[Unit]
Description=OpenSSH Daemon
After=net_server.service
Requires=net_server.service

[Service]
ExecStart=/boot/sshd -D
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/console

[Install]
WantedBy=multi-user.target
