# snapshot build configuration
CONF_DO_ARM=0
CONF_DO_ARM_VIRT_PL2=0
CONF_DO_ARM_RPIZ=0
CONF_DO_ARM_RPI3=0
CONF_DO_ARM_RPI4=0
CONF_DO_ARM_IMX6UL_PL1=0
CONF_DO_ARM_IMX6UL_PL2=0
CONF_DO_ARM64_VIRT_EL2=1
CONF_DO_ARM64_RCAR3=0
CONF_DO_ARM64_RPI3=0
CONF_DO_ARM64_RPI4=0
CONF_DO_ARM64_S32=0
CONF_DO_ARM64_ZYNQMP=0
CROSS_COMPILE_ARM=arm-linux-gnueabihf-
CROSS_COMPILE_ARM64?=${CROSS_COMPILE_ARM64:-aarch64-linux-gnu-}
