# snapshot build configuration
CONF_DO_X86_32=1
CONF_DO_AMD64=1
CONF_DO_ARM=1
CONF_DO_ARM_VIRT_PL2=1
CONF_DO_ARM_RPIZ=1
CONF_DO_ARM_RPI3=1
CONF_DO_ARM_RPI4=1
CONF_DO_ARM_IMX6UL_PL1=1
CONF_DO_ARM_IMX6UL_PL2=1
CONF_DO_ARM64=1
CONF_DO_ARM64_VIRT_EL2=1
CONF_DO_ARM64_RCAR3=1
CONF_DO_ARM64_RPI3=1
CONF_DO_ARM64_RPI4=1
CONF_DO_ARM64_S32=1
CONF_DO_ARM64_ZYNQMP=1
CROSS_COMPILE_ARM=arm-linux-gnueabihf-
CROSS_COMPILE_ARM64=aarch64-linux-gnu-
CROSS_COMPILE_MIPS32R2=mips-linux-
CROSS_COMPILE_MIPS32R6=mips-linux-
CROSS_COMPILE_MIPS64R2=mips-linux-
CROSS_COMPILE_MIPS64R6=mips-linux-
